env/
webui/
recording/audio/*
recording/audio/.gitkeep
recording/text/*
!recording/text/.gitkeep
models/llm/*
!models/llm/.gitkeep
models/tts/*
!models/tts/.gitkeep
models/stt/*
!models/stt/.gitkeep
models/sa/*
!models/sa/.gitkeep
